/* Import the Google Sans font */
@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

#root {
  /* Container Dimensions */
  max-width: 1280px;
  width: 100%;
  display: flex;
  place-items: center;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
  overflow-x: hidden;

  /* Alignment for the children inside the container */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  /* Font style */
  font-family: 'Google Sans', sans-serif;
}

body {
  /* background-color: #ffffff; */
  background-color: #090f14;
}

h2,
h3 {
  color: #e9da57;
}
