#root {
  /* max-width: 1280px; */
  /* display: flex; */
  place-items: center;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  /* background-color: #ffffff; */
  background-color: #090f14;
}

h2, h3 {
  color: #f0e0cc;
}

.home_logo {
  /* height: 60rem; */
  padding: 1.5em;
}