.search-bar {
    /* Give the search bar a flat transparent rounded look */    
    background-color: #5a5b5f;
    opacity: 0.6; 
    
    /* Give the search bar rounded corners */
    border-radius: 10px; /* Adjust the pixel value for more or less roundness */
    border: 1px solid #ccc; /* Optional: Add a border for visibility */
    padding: 5px; /* Optional: Add padding so text doesn't touch the edges */

    width: 80%;
}