#root {
  /* Container Dimensions */
  max-width: 1280px;
  width: 100%;
  display: flex;
  place-items: center;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
  overflow-x: hidden;

  /* Alignment for the children inside the container */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  /* Font style */
  font-family: 'Google Sans', sans-serif;
}

h2,
h3 {
  /* color: #e9da57; */
  color: #cec8c8ff;
}
